#root {
	min-height: 100vh;
	background-color: #202124;
	background-image: linear-gradient(115deg, #202124 0%, #0c0c0c 40%);
}

.error {
	background: red;
}

.top {
	box-sizing: border-box;
	width: 100%;
	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #380036 0%, #0cbaba 74%);
	padding: 15px;
	position: fixed;
	top: 0;
	z-index: 2;
	opacity: 0.85;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	ul {
		margin: 0;
		float: right;
		li {
			margin-left: 15px;
			display: inline-block;
			font-family: Roboto, Helvetica, sans-serif;
			font-size: 16px;
			a {
				color: #eaeaea;
				text-decoration: none;
				&:hover {
					color: #0cbaba;
				}
			}
		}
	}
}

h4.type {
	text-transform: capitalize;
}

.warning {
	color: #ffffff;
}
