input[type="text"],
input[type="password"] {
	-webkit-appearance: none;
	border-radius: 0;
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	border-bottom: 1px #c0c0c0 solid;
	line-height: 45px;
	padding: 0 12px;
	color: #ffffff;
	background: #d8d1c415;
	transition: all 0.3s ease 0s;
}

input[type="text"]:focus,
input[type="password"]:focus {
	outline: none;
	color: #151515;
	background: #d8d1c4;
	border-bottom: 1px #2c2c2c solid;
}

button:hover,
input[type="submit"]:hover,
button:hover,
.btn:hover {
	color: #0cbaba;
	background-color: #fffff3;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
		0 2px 4px -1px rgba(0, 0, 0, 0.2);
	text-decoration: none;
}

input[type="submit"],
button {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
		0 1px 5px 0 rgba(0, 0, 0, 0.12);
	color: #fffff3;
	background-color: #0cbaba;
	border-color: #0cbaba;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0;
	-webkit-appearance: none;
	border-radius: 0;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 0;
	outline: 0;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
		background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
		color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	will-change: box-shadow, transform;
	line-height: 45px;
	padding: 0 12px;
	display: inline-block;
}

form {
	padding-top: 5rem;
}

button {
	margin-top: 5rem;
}
