// Google Fonts
/* prettier-ignore */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
/* prettier-ignore-end */

// Font Variables
$body-font: "Roboto Slab", serif;
$header-font: "Open Sans", sans-serif;
// Styles
body {
	font-family: $body-font;
	font-weight: normal;
	margin: 0;
}

* {
	transition: all 0.3s ease 0s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font;
	font-weight: normal;
}

.button {
	font-family: $header-font;
	font-weight: bold;
}

.center {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.error::after {
	display: block;
	margin: 0 auto;
	font-size: 2rem;
	text-align: center;
	content: "⚙️";
}
